<!-- <h1>hola</h1>
<p>{{nombre}}</p>
<div>El doble de 3 es {{duplicarse(4)}}</div>
-- interpolacion de texto
<hr>
<div><b>Matricula: </b>{{alumnos.matricula}}</div>
<div><b>Nombre: </b>{{alumnos.nombre | uppercase}}</div>
<div><b>Fecha Nacimiento: </b>{{alumnos.fechaNacimiento | date:"dd/MM/yyyy"}}</div>
<div><b>Pago: </b>{{alumnos.pago | currency}}</div>
<hr> -->
<!-- <app-grupo></app-grupo>
<ievn-grupo></ievn-grupo> -->
<!-- <app-ievn></app-ievn> -->
<app-suma></app-suma>
<hr>
<app-operas-bas></app-operas-bas>